body {
  font-size: 0.9rem !important;
}
.App {
  text-align: center;
  min-height: 100vh;
}

.stroke-container {
  margin: 0px 15px;
}

.stroke {
  background: #000;
  width: 1px;
  height: 35px;
  margin-top: 0px !important;
  display: inline-block;
  position: absolute;
}
.insta-container, .container{
  max-width: 935px !important;
}

.post-profile-img {
  width: 40px;
  height: 40px;
}
.user-handle {
  color: #262626 !important;
  text-decoration: none !important;
}
.comment-form .form-group{
  border-top: solid 1px #e4e4e4 !important;
}
.comment-form .form-group .form-control{
  font-size: 14px;
}

.actions .flaticon-bookmark {
  margin-top: -0.5rem;
}
.actions span:before{
  top: 0px !important;
}
.story img, .user-profile img{
  position: relative;
  top: -8px;
  width: 50px;
  height: 50px;
}
.stories .story img {
  border: solid 1px #abaaaa;
}

.stories {
  max-height: 272px;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer-small div a, .footer-small p{
  text-decoration: none !important;
  font-size: 0.7rem !important;
  color: #9ca4ac !important;
}
