.auth-container{
    max-width: 350px;
}
.auth-top, .auth-bottom {
    border: 1px solid rgba(0, 0, 0, 0.098);
    background: #ffffff;
}

.auth-bottom {

}

.form-control {
    font-size: 0.9rem;
    max-width: 268px;
    margin: 0 auto;
}

input {
    background-color: rgba(0, 0, 0, 0.02) !important;
    border: solid 1px #edeff0 !important;
    border-radius: 3px !important;
}

.hr-line {
    height: 1px;
    border: none;
    width: 40%;
    background: #abaaaa;
    display: inline-block;
    position: relative;
    top: 10px;
}