body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.stickyStories {
  position: fixed !important;
  left: 829px;
  max-width: 300px !important;
  transition: all ease;
}
.nav-scrolls {
  padding: 5px 0px !important;
  position: fixed !important;
  width: 100%;
  z-index: 2;
  transition: all 300ms linear;
}

.nav-scrolls .container div .navbar-brand .stroke-container,
.nav-scrolls .container div .navbar-brand .app-name {
  display: none;
}

.post-image{
  min-height: 590px;
}

.action {
  text-decoration: none;
  color: #000000;
  font-size: 2.6em !important;
}
.svg-inline--fa.fa-w-12 {
  width: initial;
}