.nav-button{
    width: 33px;
    height: 33px;
    border-radius: 15px;
    border: none;
    background: transparent;
    color: #777;
    font-weight: 100;
    margin-left: 20px;
    font-size: 1.5em;
}

.feed:after{
    width: 4px;
    height: 4px;
    background: #ed4956;
    border-radius: 2px;
    content: '';
    margin: 0 auto;
    position: relative;
    display: block;
    left: 10px;
}

:local([class^="flaticon-"]::before){
    position: relative;
    top: -10px;
    margin-left: 0px !important;
}